<DOCTYPE html>
<html lang="es">
	<head>
	
		<!-- Título -->
		<meta charset="utf-8"/>
		<title>Orbits</title>
		
		<!-- Estilos -->
		<link rel="stylesheet" href="/css/main.css">
		
	</head>
	<body>
	
	<!-- Contenedor de los gráficos -->
	<div class="flex-container">
		<div class="col">
			<canvas id='draw' width="450" height="450"></canvas>
		</div>
	</div>
	
	<!-- Funciones JS -->
	<script src="/scripts/frecuent.js" crossorigin="anonymous"></script>
	
	<!-- Fisica -->
	<script src="/scripts/fisica.js" crossorigin="anonymous"></script>
	
	<!-- App -->
	<script src="/scripts/main.js" crossorigin="anonymous"></script>
	
	</body>
</html>