<DOCTYPE html>
<html lang="es">
	<head>
	
		<!-- Título -->
		<meta charset="utf-8"/>
		<title>Orbits</title>
		
		<!-- Estilos -->
		<link rel="stylesheet" href="/css/main.css">
		
	</head>
	<body>
	
	<!-- Contenedor de los gráficos -->
	<div class="flex-row">
		<div class="flex-col">
			<canvas id='view' width="400" height="400"></canvas>
			<div class="flex-col" align="center">
				<h2>
					vehicle options
				</h2>
				<div class="container">
					<label> vehicle name </label>
					<input type="text" value="" id="vehicle_text">
					<input type="button" class="button" value="Set" id="vehicle_set">
				</div>
				<div class="slidecontainer">
					<input type="button" class="button" value="Stage Jettison" id="jettison">
				</div>
			</div>
		</div>
		<div class="flex-col">
			<h2 align="center">control options</h2>
			<div class="flex-row">
				<div class="grid_block">
					ctrl sat
					<input type="text" style="width:100%" value="" id="ctrl_sat">
					adjust center
					<input type="text" style="width:100%" value="" id="adj_center">
					pos x
					<input type="text" style="width:100%" value="" id="pos_x_punctual">
					pos y
					<input type="text" style="width:100%" value="" id="pos_y_punctual">
					pos z
					<input type="text" style="width:100%" value="" id="pos_z_punctual">
					vel x
					<input type="text" style="width:100%" value="" id="vel_x_punctual">
					vel y
					<input type="text" style="width:100%" value="" id="vel_y_punctual">
					vel z
					<input type="text" style="width:100%" value="" id="vel_z_punctual">
					magnitude
					<input type="text" style="width:100%" value="" id="magnitude_punctual">
					<input type="button" class="button" value="Epoch" id="epoch_button">
					<input type="button" class="button" value="End" id="end_sat">
					<input type="button" class="button" value="Delete" id="delete">
				</div>
				<div class="flex-col">
					<div class="slidecontainer">
						<label>lat</label>
						<input type="range" min="-100" max="100" value="0" class="slider" id="lat">
					</div>
					<div class="slidecontainer">
						<label>long</label>
						<input type="range" min="-100" max="100" value="0" class="slider" id="long">
					</div>
					<div class="slidecontainer">
						<label>ra</label>
						<input type="range" min="-100" max="100" value="0" class="slider" id="ra">
					</div>
					<div class="slidecontainer">
						<label>d</label>
						<input type="range" min="0" max="100" value="0" class="slider" id="d">
					</div>
					<div class="slidecontainer">
						<input type="button" class="button" value="Launch" id="launch">
					</div>
					<div class="slidecontainer">
						<input type="button" class="button" value="Phase" id="phase">
					</div>
					<div class="slidecontainer">
						<input type="button" class="button" value="Undock" id="undock">
					</div>
				</div>
			</div>
			<h2 align="center">launch options</h2>
		</div>
		<div class="flex-col">
			<div class="flex-col" align="center">
				<h2>
					simul options
				</h2>
				<div class="slidecontainer">
					<label>space scale</label>
					<input type="range" min="-100" max="100" value="0" class="slider" id="s_scale">
				</div>
				<div class="slidecontainer">
					<label>zoom</label>
					<input type="range" min="1" max="100" value="1" class="slider" id="zoom">
				</div>
				<div class="slidecontainer">
					<label>time scale</label>
					<input type="range" min="-300" max="300" value="0" class="slider" id="t_scale">
				</div>
				<div class="slidecontainer">
					<label>time sense</label>
					<input type="range" min="-100" max="100" value="0" class="slider" id="t_sense">
					<input type="button" class="button" value="Za Warudo" id="stop_button">
				</div>
				<div class="flex-col" align="center">
					<div class="slidecontainer">
						Simul time:
						<input type="text" value="" id="text_time">
						<label id="label_time_add">From Now</label>
						<div class="flex-col" align="center">
							<form>
								<label id="label_time_add_2">Add/Sub Time</label>
								<label style="visibility:hidden" id="select_label">Day</label>
								<input style="visibility:hidden" type="date" id="select_date" min="1-01-01" max="3000-12-31"/>
								<label style="visibility:hidden" id="label_hour">Hour</label>
								<input style="visibility:hidden" type="time" id="select_hour" step='1' min="00:00" max="23:59"/>
							</form>
						</div>
					</div>
				</div>
				<input type="button" class="button" value="Display next page" id="page">
			</div>
			<div class="flex-col" align="center">
				<h2>
					targeting options
				</h2>
				<div class="container">
					<label> desired flight time (days) </label>
					<input type="text" value="" id="flight_time">
					<input type="button" class="button" value="Elliptic Targeting" id="targeting">
				</div>
				<div>
					departure:
					<label id="depart_label"> - </label>
				</div>
				<div>
					destination:
					<label id="destin_label"> - </label>
				</div>
				<div>
					vel: [
					<label id="vel_vec_x_label"> 0 </label> ,
					<label id="vel_vec_y_label"> 0 </label> ,
					<label id="vel_vec_z_label"> 0 </label> ]
				</div>
				<div class="slidecontainer">
					<input type="button" class="button" value="Apply" id="apply_vel">
				</div>
				<div>
					a: [
					<label id="a_min_label"> 0 </label> ,
					<label id="a_des_label"> 0 </label> ,
					<label id="a_max_label"> 0 </label> ]
				</div>
				<div>
					t: [
					<label id="t_min_label"> 0 </label> ,
					<label id="t_des_label"> 0 </label> ,
					<label id="t_max_label"> 0 </label> ]
				</div>
				<div class="slidecontainer">
					<input type="button" class="button" value="Dock" id="dock">
				</div>
				<div class="slidecontainer">
					<input type="button" class="button" value="Apsis" id="apsis">
				</div>
				<div>
					vel: [
					<label id="apsis_vec_x_label"> 0 </label> ,
					<label id="apsis_vec_y_label"> 0 </label> ,
					<label id="apsis_vec_z_label"> 0 </label> ]
				</div>
				<div class="slidecontainer">
					<input type="button" class="button" value="Apply" id="apply_apsis">
				</div>
			</div>
		</div>
	</div>
	
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	
	<!-- Funciones Frecuentes -->
	<script src="/scripts/frecuent.js" crossorigin="anonymous"></script>
	
	<!-- Fisica -->
	<script src="/scripts/fisica.js" crossorigin="anonymous"></script>
	
	<!-- Óribta -->
	<script src="/scripts/orbit.js" crossorigin="anonymous"></script>
	
	<!-- Vehículo -->
	<script src="/scripts/vehicle.js" crossorigin="anonymous"></script>
	
	<!-- Satélite -->
	<script src="/scripts/satellite.js" crossorigin="anonymous"></script>
	
	<!-- Vista -->
	<script src="/scripts/view.js" crossorigin="anonymous"></script>
	
	<!-- Efemérides -->
	<script src="/scripts/ephemeris.js" crossorigin="anonymous"></script>
	
	<!-- App -->
	<script src="/scripts/main.js" crossorigin="anonymous"></script>
	
	</body>
</html>