body{
	padding: 10;
	font: 14px sans-serif;
	color: #ccd;
	background-color: #272727;
}

#view{
	cursor: crosshair;
}

.flex-row{
	display: flex;
	flex-direction: row;
}

.flex-col{
	display: flex;
	flex-direction: column;
}

.grid_block {
  display: grid;
  grid-template-columns: 100px 200px;
  gap: 5px;
  grid-auto-rows: minmax(20px, auto);
  justify-items: end;
}